<div class="col p-4">

  <div class="row">
    <div class="col-md-8">
      <h1>commande client/fournisseur</h1>
    </div>

    <div class="col-md-4 text-end">
      <app-button-action></app-button-action>
    </div>
  </div>




  <!--  accordion 1-->
  <div class="row mt-4">
    <div class="accordion" id="accordionExample">
      <div class="accordion-item">
        <h2 class="accordion-header" id="headingOne">
          <button class=" collapsed" type="button" data-bs-toggle="collapse"
                  data-bs-target="#collapseOne" aria-expanded="true" >
            <!--          detail-mvt-stock-articlecomponent  -->
            <app-detail-cmd-client-fournisseur></app-detail-cmd-client-fournisseur>
          </button>
        </h2>
        <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne"
             data-bs-parent="#accordionExample" style="max-height: 200px; overflow-y: scroll">
          <div class="accordion-body">
            <!--          detail-mvt-stock component-->
            <app-detail-cmd></app-detail-cmd>
            <app-detail-cmd></app-detail-cmd>
            <app-detail-cmd></app-detail-cmd>
            <app-detail-cmd></app-detail-cmd>
            <app-detail-cmd></app-detail-cmd>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!--  accordion 2-->
  <div class="row mt-4">
    <div class="accordion" id="accordionExample2">
      <div class="accordion-item">
        <h2 class="accordion-header" id="headingTwo">
          <button class=" collapsed" type="button" data-bs-toggle="collapse"
                  data-bs-target="#collapseTwo" aria-expanded="false" >
            <!--          detail-mvt-stock-articlecomponent  -->
            <app-detail-mvt-stock-article></app-detail-mvt-stock-article>
          </button>
        </h2>
        <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo"
             data-bs-parent="#accordionExample2" style="max-height: 200px; overflow-y: scroll">
          <div class="accordion-body">
            <!--          detail-mvt-stock component-->
            <app-detail-mvt-stock></app-detail-mvt-stock>
            <app-detail-mvt-stock></app-detail-mvt-stock>
            <app-detail-mvt-stock></app-detail-mvt-stock>
            <app-detail-mvt-stock></app-detail-mvt-stock>
            <app-detail-mvt-stock></app-detail-mvt-stock>
            <app-detail-mvt-stock></app-detail-mvt-stock>
          </div>
        </div>
      </div>


    </div>
  </div>



  <!--pagination-->
  <div class="row text-center mt-4">
    <app-pagination></app-pagination>
  </div>

</div>

