<div class="row p-3">
  <div class="col-md-12 mb-3 p-1">
    <img src="assets/products.webp" alt=""
         class="rounded-circle" height="200px" width="200px">
  </div>
</div>
<!--  formulaire-->
<div class="m-3">
  <div class="row">
    <div class="col-md-12">
      <h2><i class="fas fa-info-circle myBlue-color"></i>&nbsp;information du client/fournisseur</h2>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6">
      <div class="form-floating mb-3">
        <input type="email" class="form-control" id="nom" placeholder="name@example.com">
        <label for="nom">Nom</label>
      </div>
    </div>

    <div class="col-md-6">
      <div class="form-floating mb-3">
        <input type="email" class="form-control" id="adress1" placeholder="name@example.com">
        <label for="adress1">adress 1</label>
      </div>
    </div>

    <div class="col-md-6">
      <div class="form-floating mb-3">
        <input type="email" class="form-control" id="prenom" placeholder="name@example.com">
        <label for="prenom">prenom</label>
      </div>
    </div>

    <div class="col-md-6">
      <div class="form-floating mb-3">
        <input type="email" class="form-control" id="adress2" placeholder="name@example.com">
        <label for="adress2">adress 2</label>
      </div>
    </div>

    <div class="col-md-6">
      <div class="form-floating mb-3">
        <input type="email" class="form-control" id="email" placeholder="name@example.com">
        <label for="email">email</label>
      </div>
    </div>

    <div class="col-md-6">
      <div class="form-floating mb-3">
        <input type="email" class="form-control" id="ville" placeholder="name@example.com">
        <label for="ville">ville</label>
      </div>
    </div>

    <div class="col-md-6">
      <div class="form-floating mb-3">
        <input type="email" class="form-control" id="tel" placeholder="name@example.com">
        <label for="tel">telephone</label>
      </div>
    </div>

    <div class="col-md-6">
      <div class="form-floating mb-3">
        <input type="email" class="form-control" id="code-postal" placeholder="name@example.com">
        <label for="code-postal">code postal</label>
      </div>
    </div>
    <div class="col-md-6"></div>

    <div class="col-md-6">
      <div class="form-floating mb-3">
        <input type="email" class="form-control" id="pays" placeholder="name@example.com">
        <label for="pays">pays</label>
      </div>
    </div>
  </div>





</div>

<!--bouttons-->
<div class="row mb-3 me-1">
  <div class="col-md-12 d-flex justify-content-end">
    <button class="btn  btn-outline-danger me-2"><i class="fas fa-ban"></i>&nbsp;Annuler</button>
    <button class="btn btn-primary"><i class="fas fa-save"></i>&nbsp;Enregistrer</button>
  </div>

</div>



