<div class="row myCustom-boder">
  <!--  1 colonne detail article-->
  <div class="col-md-3 mb-1 myBorder-right  text-center">
    <h5>code article </h5>
  </div>

  <!--  2eme colonne detail categories-->
  <div class="col-md-3 mb-1 myBorder-right  text-center">
    <h5>designation</h5>

  </div>

  <!--  3eme colonne detail categories-->
  <div class="col-md-2 mb-1 myBorder-right  text-center">
    <h5>6</h5>

  </div>

  <!--    4eme colonne boutons daction-->
  <div class="col-md-2 mb-1 myBorder-right  text-center">
    <h5>12.5</h5>

  </div>

  <!--    5eme colonne boutons daction-->
  <div class="col-md-2 p-1 text-center ">
    <h5>73.5</h5>
  </div>

</div>




