<div class="col">

  <div class="row m-3 p0">
    <div class="col-md-8">
      <h1>Listes categories</h1>
    </div>

    <div class="col-md-4 text-end">
      <app-button-action
        (clickEvent)="nouvelCategorie()">
      </app-button-action>
    </div>
  </div>

  <div class= "col m-3">
    <div class="row myCustom-boder mb-3 p-3">
      <div class="col-md-3 myBorder-right">
          code categorie
      </div>
      <div class="col-md-3">
        description de la categorie
      </div>
    </div>

  </div>

  <div class="row text-center">
    <div class="p-2">
      <app-pagination></app-pagination>
    </div>

  </div>
</div>
