
<div class="row myCustom-boder">
  <!--  1ere colonne  --->
  <div class="col-md-2 mb-1 myBorder-right p-2" >
    <img src="assets/products.webp" alt="" width="100%" height="100%" class="p-1">
  </div>
  <!--  2 colonne detail article-->
  <div class="col-md-4 mb-1 myBorder-right p-2">
    <div class="row">
      <div><i class="fa-solid fa-circle-info myBlue-color"></i>&nbsp;&nbsp; Nom</div>
    </div>
    <div class="row">
      <div><i class="fa-solid fa-layer-group  myBlue-color"></i>&nbsp;&nbsp; Prenom</div>
    </div>
    <div class="row">
      <div><i class="fa-solid fa-phone-alt  myBlue-color"></i>&nbsp;&nbsp; 0623523254</div>
    </div>

  </div>

  <!--  3eme colonne detail categories-->
  <div class="col-md-3 mb-1 myBorder-right p-2">
    <div class="row">
      <div><i class="fa-solid fa-home myBlue-color"></i>&nbsp;&nbsp; adress 1</div>
    </div>
    <div class="row">
      <div><i class="fa-solid fa-map-marker-alt  myBlue-color"></i>&nbsp;&nbsp; code postal</div>
    </div>
    <div class="row">
      <div><i class="fa-solid fa-map-marker-alt  myBlue-color"></i>&nbsp;&nbsp; ville</div>
    </div>
    <div class="row">
      <div><i class="fa-solid fa-globe-africa  myBlue-color"></i>&nbsp;&nbsp; pays</div>
    </div>
  </div>

  <!--  4eme colonne boutons daction-->
  <div class="col-md-3 p-1 text-center p-2">
    <button type="button" class="btn btn-primary me-1">
      <i class="fas fa-pencil-alt"></i></button>

    <button type="button" class="btn btn-danger me-1">
      <i class="fas fa-trash-alt"></i></button>

    <button type="button" class="btn btn-success">
      <i class="fas fa-list-alt"></i></button>

  </div>

</div>




