<div class="row">
  <div class="col-md-8">
    <div class="input-group mb-3">
      <input type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">
      <span class="input-group-text" id="basic-addon1"><i class="fa-solid fa-magnifying-glass"></i></span>
    </div>

  </div>
  <div class="col-md-4">
    <div class="row">
      <div class="col-md-9 text-end">
        <span>Bonjour Mounir</span>
      </div>

      <div class="col-md-3">
        <a href="javascript:void(0);" routerLink="/profil">
          <img src="favicon.ico" alt="" class="rounded-circle">
        </a>



      </div>
    </div>

  </div>




</div>


