<div class="container my-container">
  <div class="card text-center">
    <div class="card-header justify-content-center">
      <h3>Inscription</h3>
    </div>
    <div class="card-body">

      <div class="form-floating mb-3">
        <input type="text" class="form-control" id="floatingInput" placeholder="Nom">
        <label for="floatingInput">Nom</label>
      </div>
      <div class="form-floating mb-3">
        <input type="text" class="form-control" id="floatingInput" placeholder="Code Fiscal">
        <label for="floatingInput">Code fiscal</label>
      </div>
      <div class="form-floating mb-3">
        <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
        <label for="floatingInput">Email</label>
      </div>
      <div class="form-floating mb-3">
        <input type="text" class="form-control" id="floatingInput" placeholder="name@example.com">
        <label for="floatingInput">Adress 1</label>
      </div>
      <div class="form-floating mb-3">
        <input type="text" class="form-control" id="floatingInput" placeholder="name@example.com">
        <label for="floatingInput">Adress 2</label>
      </div>
      <div class="form-floating mb-3">
        <input type="text" class="form-control" id="floatingInput" placeholder="name@example.com">
        <label for="floatingInput">ville</label>
      </div>
      <div class="form-floating mb-3">
        <input type="text" class="form-control" id="floatingInput" placeholder="name@example.com">
        <label for="floatingInput">Code postal</label>
      </div>
      <div class="form-floating mb-3">
        <input type="text" class="form-control" id="floatingInput" placeholder="name@example.com">
        <label for="floatingInput">Pays</label>
      </div>
      <div class="form-floating mb-3">
        <input type="password" class="form-control" id="floatingInput" placeholder="Password">
        <label for="floatingInput">Mot de passe</label>
      </div>
      <div class="form-floating mb-3">
        <input type="password" class="form-control" id="floatingInput" placeholder="Confirmer Mot De Passe">
        <label for="floatingInput">Confirmer Mot De Passe</label>
      </div>




      <div class="mt-4 mb-3 d-flex justify-content-between">

        <a class="btn btn-link" routerLink="/login">Se Connecter</a>
        <button class="btn btn-primary"><i class="fa-solid fa-check"></i>&nbsp;S'inscrire</button>
      </div>

    </div>
  </div>
</div>
