<div class="col">

  <div class="row m-3 p0">
    <div class="col-md-8">
      <h1>Listes Clients</h1>
    </div>

    <div class="col-md-4 text-end">
      <app-button-action
      (clickEvent)="nouveauClient()"></app-button-action>
    </div>
  </div>

  <div class= "card row m-2">
    <app-detail-client-fournisseur></app-detail-client-fournisseur>
    <app-detail-client-fournisseur></app-detail-client-fournisseur>
    <app-detail-client-fournisseur></app-detail-client-fournisseur>
    <app-detail-client-fournisseur></app-detail-client-fournisseur>
  </div>

  <div class="row text-center">
    <div class="p-2">
      <app-pagination></app-pagination>
    </div>

  </div>
</div>
