<div class="row myCustom-boder">
  <!--  1 colonne detail article-->
  <div class="col-md-3 mb-1 myBorder-right  text-center">
    <h5>12.12.2022 </h5>
  </div>

  <!--  2eme colonne detail categories-->
  <div class="col-md-3 mb-1 myBorder-right  text-center">
    <h5>139</h5>

  </div>

  <!--  3eme colonne detail categories-->
  <div class="col-md-3 mb-1 myBorder-right  text-center">
    <div class="col-md-12 "><h5>Sortie</h5></div>

  </div>

  <!--    4eme colonne boutons daction-->
  <div class="col-md-3 p-1 text-center ">
    <h5>COMMANDE CLIENT</h5>
  </div>

</div>



