<div class="container my-container">
  <div class="card text-center">
    <div class="card-header justify-content-center">
      <h3>Se connecter</h3>
    </div>
    <div class="card-body">

      <div class="form-floating mb-3">
        <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
        <label for="floatingInput">Email address</label>
      </div>
      <div class="form-floating">
        <input type="password" class="form-control" id="floatingPassword" placeholder="Password">
        <label for="floatingPassword">Password</label>
      </div>
      <div class="mt-4 mb-3 d-flex justify-content-between">
        <a routerLink="/inscrire" class="btn btn-link">S'inscrire</a>
        <button class="btn btn-primary">
          <i class="fa-solid fa-check"></i>&nbsp;
          Se Connecter
        </button>

      </div>

    </div>
  </div>
</div>
