<div class="row myCustom-boder">
  <!--  1ere colonne  --->
  <div class="col-md-2 mb-1 myBorder-right p-2 ">
    <img src="assets/products.webp" alt="" width="100%" height="100%" class="p-1">
  </div>
  <!--  2 colonne detail commande-->
  <div class="col-md-4 mb-1 myBorder-right p-1">
    <div class="row p-2">
      <div class="col-md-1"><i class="fa-solid fa-user-alt myBlue-color"></i></div>
      <div class="col-md-11 myBlue-color"><h4>nom</h4></div>
    </div>
    <div class="row p-2">
      <div class="col-md-1"><i class="fa-solid fa-user-alt  myBlue-color"></i></div>
      <div class="col-md-11 myBlue-color"><h4>prenom</h4></div>
    </div>
    <div class="row p-2">
      <div class="col-md-1"><i class="fa-solid fa-phone-alt  myBlue-color"></i></div>
      <div class="col-md-11 myBlue-color"><h4>06325232541</h4></div>
    </div>

  </div>

  <!--  3eme colonne detail commande-->
  <div class="col-md-3 mb-1 myBorder-right p-2">
    <div class="row p-2">
      <div class="col-md-1"><i class="fa-solid fa-qrcode myBlue-color"></i></div>
      <div class="col-md-11 myBlue-color"><h4>code</h4></div>
    </div>
    <div class="row p-2">
      <div class="col-md-1"><i class="fa-solid fa-calendar-alt  myBlue-color"></i></div>
      <div class="col-md-11 myBlue-color"><h4>date</h4></div>
    </div>
    <div class="row p-2">
      <div class="col-md-1"><i class="fa-solid fa-cart-arrow-down  myBlue-color"></i></div>
      <div class="col-md-11 myBlue-color"><h4>livree</h4></div>
    </div>
  </div>

  <!--  4eme colonne boutons daction-->
  <div class="col-md-3 p-1 text-center p-2">
    <div class="row">
      <div class="col-md-6">
        <button class="btn btn-link"><i class="fa-solid fa-pencil-alt myBlue-color"></i>&nbsp;
          Modifier
        </button>
      </div>
      <div class="col-md-6">
        <button class="btn btn-link"><i class="fa-solid fa-trash-alt myBlue-color"></i>&nbsp;
          supprimer
        </button>
      </div>
    </div>


  </div>
</div>

